<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wars Barber and Tatto</title>
    <link rel="shortcut icon" href="../assets/imagenes/FAVICON.jpg" type="image/jpg">
    <link rel="stylesheet" href="../Css/css.css">
</head>
<body>
   <!-- menu -->
   <header>
    <!-- inicio nav -->
    <nav>
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../view/servicios.html">SERVICIOS</a></li>
            <li><a href="../view/galeria.html">GALERIA</a></li>
            <li>ABOUT ME</li>
            <li><a href="../view/contacto.html">CONTACTO</a></li>
        </ul>
    </nav>
   </header>

   <!-- comienzo de biografia -->
   <main>
     <section>
      <h1>ABOUT ME</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita voluptatem dicta beatae debitis quod perferendis exercitationem, quo, quasi voluptate nihil temporibus, eius in officia illo cupiditate. Illo quasi quod illum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore labore quas sit at possimus, blanditiis tenetur rerum optio cupiditate distinctio maxime incidunt odit ipsam, sint illo accusantium. Vitae, at non. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt cupiditate, quisquam dolore atque at non nostrum sapiente dolorum, minus ipsa omnis explicabo quis, amet maxime repellat fugit voluptas mollitia. Iusto. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere eaque molestias commodi adipisci officia dolorum modi porro esse id maiores explicabo fugit dolore nihil ipsam laboriosam magnam accusantium, repellendus consectetur.</p>
        <div class="imgA">   
            <img src="../assets/imagenes/ab2.png" alt="fondo">
            <img src="../assets/imagenes/ab1.png" alt="principal">
            <img src="../assets/imagenes/ab3.png" alt="fondo">
        </div> 
     </section>
   </main>

   <!-- comienzo footer  -->
   <footer>
    <div>
      <a href="../index.html">
        <img src="../assets/imagenes/logo.png" alt="logo" class="logo">
      </a>
    </div>
    <div> 
        <h2>Redes sociales</h2> 
        <p> 
            <img src="../assets/imagenes/iconoinsta.png" alt="iconoinsta">
            <a href="https://instagram.com/warstattos?igshid=YmMyMTA2M2Y=" target="_blank">War'sTatto</a>
        </p>
        <p> 
            <img src="../assets/imagenes/iconoinsta.png" alt="iconoinsta">
            <a href="https://instagram.com/warsbarbers?igshid=YmMyMTA2M2Y=" target="_blank">War'sBarber</a>
        </p>
        <p>
            <img src="../assets/imagenes/iconoface.png" alt="iconoface">
            <a href="https://www.facebook.com/people/WarsBarber-Tatto/100083250565104/" target="_blank"> War'sBarber-Tatto</a>
        </p>  
    </div>
    <div>
        <h2>Contacto</h2>
        <p>
            <img src="../assets/imagenes/iconowha.png" alt="iconowha"> 
            <a href="https://wa.me/+18542191566" target="_blank">+1 (854) 219-1566 </a>
        </p>
        <p>
            <img src="../assets/imagenes/iconomail.png" alt="iconomail">
            pachecoedgar186@gmail.com
        </p>
    </div>    
   </footer>
</body>