<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wars Barber and Tatto</title>
    <link rel="shortcut icon" href="../assets/imagenes/FAVICON.jpg" type="image/jpg">
    <link rel="stylesheet" href="../Css/css.css">
</head>
<body>
    <!-- menu -->
    <header>
    <!-- inicio nav -->
        <nav>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="../view/servicios.html">SERVICIOS</a></li>
                <li><a href="../view/galeria.html">GALERIA</a></li>
                <li><a href="../view/acerca.html">ABOUT ME</a></li>
                <li>CONTACTO</li>
            </ul>
        </nav>
    </header>

    <!--contactos -->
    <main class="content">
        <h1>CONTACTO</h1>

        <div class="contenedorFormInf">
            <div class="contact-form">
                <form action="">
                    <p>
                        <label>Nombre Completo</label>
                        <input type="text" name="Nombre Completo">
                    </p>
                    <p>
                        <label>Mail</label>
                        <input type="text" name="mail">
                    </p>
                    <p>
                        <label>Telefono</label>
                        <input type="tel" name="Telefono">
                    </p>
                    <p>
                        <label>Asunto</label>
                        <input type="text" name="Asunto">
                    </p>
                    <p>
                        <label>Mensaje</label>
                        <textarea name="Mensaje" id="" cols="30" rows="3"></textarea>
                    </p>
                    <p>
                        <button type="submit">
                            Enviar
                        </button>
                    </p>
                </form>
            </div>
    </main>

   <!-- comienzo footer -->
   <footer>
    <div>
      <a href="../index.html">
        <img src="../assets/imagenes/logo.png" alt="logo" class="logo">
      </a>
    </div>
    <div> 
        <h2>Redes sociales</h2> 
        <p> 
            <img src="../assets/imagenes/iconoinsta.png" alt="iconoinsta">
            <a href="https://instagram.com/warstattos?igshid=YmMyMTA2M2Y=" target="_blank">War'sTatto</a>
        </p>
        <p> 
            <img src="../assets/imagenes/iconoinsta.png" alt="iconoinsta">
            <a href="https://instagram.com/warsbarbers?igshid=YmMyMTA2M2Y=" target="_blank">War'sBarber</a>
        </p>
        <p>
            <img src="../assets/imagenes/iconoface.png" alt="iconoface">
            <a href="https://www.facebook.com/people/WarsBarber-Tatto/100083250565104/" target="_blank"> War'sBarber-Tatto</a>
        </p>  
    </div>
    <div>
        <h2>Contacto</h2>
        <p>
            <img src="../assets/imagenes/iconowha.png" alt="iconowha"> 
            <a href="https://wa.me/+18542191566" target="_blank">+1 (854) 219-1566 </a>
        </p>
        <p>
            <img src="../assets/imagenes/iconomail.png" alt="iconomail">
            pachecoedgar186@gmail.com
        </p>
    </div>    
   </footer>
</body>