<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wars Barber and Tatto</title>
    <link rel="shortcut icon" href="../assets/imagenes/FAVICON.jpg" type="image/jpg">
    <link rel="stylesheet" href="../Css/css.css">
</head>
<body>
    <!-- menu -->
   <header>
    <!-- inicio nav -->
    <nav>
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../view/servicios.html">SERVICIOS</a></li>
            <li>GALERIA</li>
            <li><a href="../view/acerca.html">ABOUT ME</a></li>
            <li><a href="../view/contacto.html">CONTACTO</a></li>
        </ul>
    </nav>
   </header>

   <!-- comienzo galeria-->
    <div class="containerImg">
        <div class="imagen">
            <img src="../assets/imagenes/1.jpg" alt="">
            <div class="overlay">
                <h2>Realismo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="../assets/imagenes/2.jpeg" alt="">
            <div class="overlay">
                <h2>Degrade medio</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="../assets/imagenes/3.jpg" alt="">
            <div class="overlay">
                <h2>Minimalista</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="../assets/imagenes/4.jpg" alt="">
            <div class="overlay">
                <h2>Degrade bajo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="../assets/imagenes/5.png" alt="">
            <div class="overlay">
                <h2>Micro realismo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="../assets/imagenes/6.jpg" alt="">
            <div class="overlay">
                <h2>Degrade alto</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="../assets/imagenes/7.jpg" alt="">
            <div class="overlay">
                <h2>Realismo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="../assets/imagenes/8.jpg" alt="">
            <div class="overlay">
                <h2>Degrade medio</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="../assets/imagenes/9.jpg" alt="">
            <div class="overlay">
                <h2>Realismo</h2>
            </div>
        </div>     
    </div>
   
   <!-- comienzo footer -->
   <footer>
    <div>
      <a href="../index.html">
        <img src="../assets/imagenes/logo.png" alt="logo" class="logo">
      </a>
    </div>
    <div> 
        <h2>Redes sociales</h2> 
        <p> 
            <img src="../assets/imagenes/iconoinsta.png" alt="iconoinsta">
            <a href="https://instagram.com/warstattos?igshid=YmMyMTA2M2Y=" target="_blank">War'sTatto</a>
        </p>
        <p> 
            <img src="../assets/imagenes/iconoinsta.png" alt="iconoinsta">
            <a href="https://instagram.com/warsbarbers?igshid=YmMyMTA2M2Y=" target="_blank">War'sBarber</a>
        </p>
        <p>
            <img src="../assets/imagenes/iconoface.png" alt="iconoface">
            <a href="https://www.facebook.com/people/WarsBarber-Tatto/100083250565104/" target="_blank"> War'sBarber-Tatto</a>
        </p>  
    </div>
    <div>
        <h2>Contacto</h2>
        <p>
            <img src="../assets/imagenes/iconowha.png" alt="iconowha"> 
            <a href="https://wa.me/+18542191566" target="_blank">+1 (854) 219-1566 </a>
        </p>
        <p>
            <img src="../assets/imagenes/iconomail.png" alt="iconomail">
            pachecoedgar186@gmail.com
        </p>
    </div>    
   </footer>
</body>



